<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017432840717-6bc12amgkese0163du4tlufpdc1gg2tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017432840717-6bc12amgkese0163du4tlufpdc1gg2tr</string>
	<key>API_KEY</key>
	<string>AIzaSyDzFoCWnvG4BVuyL9cFZoZhjJf8snyV-aA</string>
	<key>GCM_SENDER_ID</key>
	<string>1017432840717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackathon.RideShareApp</string>
	<key>PROJECT_ID</key>
	<string>rideshare-app-159409</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-app-159409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017432840717:ios:7a8e78502769b0e9</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-app-159409.firebaseio.com</string>
</dict>
</plist>